{% load static %}
<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Iniciar Sesión</title>
        <link rel="stylesheet" type ="text/css" href="{% static 'misperris/css/estilos.css' %}">
        <link rel="stylesheet" type ="text/css" href="{% static 'misperris/css/estilosformulario.css' %}">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    </head>
    <body>
        <header class="container-fluid">
                <div class="row">
                    <div class="top">
                        <nav class="navbar navbar-expand-md">
                            <a class="navbar-brand" href="#">  
                                <img src="img/logo.png"  id="logo" alt="Logo Mis Perris"/>
                            </a>
                            <button class="navbar-toggler navbar-light" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
    
                            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                <ul class="navbar-nav mr-auto">
                                    <li class="nav-item">
                                        <a class="nav-link" href="index.html" title="inicio">inicio</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">quienes somos</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">servicios</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="contactanos.html" title="formulario">contáctanos</a>
                                    </li>
                                </ul>	
                            </div>
                        </nav>
                    </div>
                </div>
        </header>

        <section class="container">
            <div class="row" id="contenido">            
                <div class="informacion col-lg-6">
                    <h3 class="info">Iniciar sesión en Mis Perris</h3>
                    <p class="descripción">¿No tiene una cuenta?</p>
                    <a href="formulario.html">
                        <span>Crear una cuenta</span>
                    </a>
                      
                </div>
    
            <div class="formulario col-lg-6">    
                <form>
                    <div class="form-group">
                        <label for="formGroupExampleInput">Nombre de usuario</label>
                        <input type="text" class="form-control" id="formGroupExampleInput">
                    </div>
                    <div class="form-group">
                      <label for="exampleInputPassword1">Contraseña</label>
                      <input type="password" class="form-control" id="exampleInputPassword1">
                    </div>
                    <div class="form-check">
                      <input type="checkbox" class="form-check-input" id="exampleCheck1">
                      <label class="form-check-label" for="exampleCheck1">Recordarme</label>
                    </div>
                    <button type="submit" class="btn btn-primary">Iniciar Sesión</button>
                  </form>
            </div>
        </div>
        </section>
    
        <footer id="credits">
        <p>Desarrollo Web y Mobile</p>
        </footer>	
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
        <script src="{% static 'misperris/js/validaciones.js' %}"></script>
        <script src="{% static 'misperris/js/regiones.js' %}"></script>
    </body>
</html>